doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/joshua-wyse-com.css')
  body
    div(class = "header")
      block header
    div(class = "content")
      block content
