doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/joshua-wyse-com.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    div(class = "header")
      block header
    div(class = "content")
      block content
    script(src = "/js/bootstrap.min.js")
